html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  background: transparent;
  border: none;
  display: inline-block;
  cursor: pointer;
}

.container {
  width: 1200px;
  margin: 0 auto;
  /*background-color: green;*/
}

body {
  margin: 0;
  font-family: "Livvic";
}